@use 'colours' as c;

.blogCards {
  width: 85%;
  margin: 0 auto;
}

.preamble {
  background-color: c.colour(light-blue);
  padding: 1rem;
  border-left: 8px solid c.colour(susanna-blue);
  border-radius: 4px;
}
