@use 'colours' as c;

.card {
  border-radius: 8px;
  margin: 1rem 0;
  border: solid 1px c.colour(midnight-blue);
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.card p {
  padding: 0;
  margin: 0;
}

.title {
  color: c.colour(mustard-yellow);
  text-align: left;
  font-size: 1.25rem;
  align-self: center;
  grid-column: 2;
  margin-left: 1.618rem;
  border: 1px solid c.colour(midnight-blue);
  max-width: max-content;
}

.title:hover {
  border-radius: 4px;
}

.blurb {
  grid-column: 1 / 3;
}

.tags {
  grid-column: 2;
  display: inline;
  font-family: mononokiRegular;
  font-size: 0.8rem;
  margin-left: 1.618rem;
}

.tag {
  list-style: none;
  display: inline;
  padding-right: 1rem;
}

.date {
  font-family: mononokiRegular;
  font-size: 1rem;
  text-align: right;
  padding: 0;
  margin: 0;
  align-self: center;
  grid-column: 1;
}

.img {
  grid-column: 1 / 3;
}

@media screen and (max-width: 560px) {
  .card {
    display: block;
  }

  .date {
    text-align: left;
  }

  .title {
    margin-left: 0;
  }

  .tags {
    display: block;
    margin-left: 0;
  }
}
