@use 'colours' as c;

.blogPostContainer {
  h1,
  h2,
  h3,
  h4 {
    color: c.colour(deep-orange);
  }

  img {
    width: 100%;
  }

  h1,
  h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin: 1rem 0;
  }

  h3,
  h4 {
    font-family: mononokiRegular;
    color: c.colour(mustard-yellow);
    font-size: 1.25rem;
    margin: 1.25rem 0;
  }

  ul {
    list-style: none;
    padding-left: 1rem;
    li::before {
      content: '\279E';
      font-size: 1.5rem;
      // vertical-align: -webkit-baseline-middle;
      color: c.colour(giro-pink);
      padding-right: 1rem;
    }
  }

  ol {
    list-style-position: inside;
    padding-left: 1rem;
    list-style-type: decimal;
  }

  blockquote {
    background-color: c.colour(light-blue);
    border-left: solid 8px c.colour(giro-pink);
    border-radius: 4px;
    p {
      padding: 1rem;
    }
  }

  img {
    border-radius: 4px;
  }

  p {
    code {
      background-color: c.colour(light-blue);
      padding: 5px;
      border-radius: 4px;
    }
  }
  pre > code,
  code {
    font-family: mononokiRegular;
  }
}
