@use 'colours' as c;

.footer {
  position: sticky;
  top: 100%;
  grid-row: 2 / 3;
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mediaContainer {
  display: none;
  justify-self: center;
  align-self: end;
}

.mediaLinks {
  grid-row: 1;
  font-size: 2rem;
  color: c.colour(tinted-white);
  li.mediaItem {
    display: inline;
    margin: 1rem;
    a:hover {
      color: c.colour(deep-orange);
      cursor: pointer;
      background-color: c.colour(midnight-blue);
      border: dashed 1px c.colour(muted-grey);
    }
    svg {
      color: c.colour(tinted-white);
      vertical-align: -5px;
    }
    :hover {
      color: c.colour(deep-orange);
    }
  }
}

.copyright {
  grid-row: 1;
  place-self: end;
  grid-column: 2;
}

.creativeCommonsLink {
  grid-row: 1;
  color: c.colour(tinted-white);
  border: solid 1px c.colour(midnight-blue);
}

.commit {
  grid-row: 1;
  font-family: mononokiRegular;
  grid-column: 1;
  align-self: end;
  p {
    margin: 0px;
    font-size: 1rem;
  }
  // .commitSymbol {
  //   font-size: 1.5rem;
  //   // rotate: 180deg;
  //   vertical-align: baseline;
  //   // padding-right: 5px;
  // }
  .commitDate {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .commit,
  .tech,
  .commitSymbol,
  .mediaLinks {
    font-size: 2rem;
  }

  .mediaContainer {
    display: block;
  }

  .commit {
    grid-row: 1;
    grid-column: 1;
  }

  .copyright {
    grid-row: 1;
    grid-column: 3;
  }

  .commitDate {
    grid-row: 1;
    display: inherit;
  }
}
