@use 'fonts';
@use 'colours' as c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: c.colour(midnight-blue);
  max-width: 900px;
  margin: auto;
  color: c.colour(tinted-white);
  font-family: karmillaRegular, serif;
  font-size: 1.25rem;
  line-height: 1.618;
  padding: 1.618em;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

/* Anchor tag stylings */

a {
  text-decoration: none;
  color: c.colour(mustard-yellow);
  border: solid 1px c.colour(midnight-blue);
  padding: 1px;
}

a[href]:hover {
  background-color: c.colour(darkest-blue);
  padding: 1px;
  // border-radius: 8px;
  color: c.colour(deep-orange);
  border: dashed 1px c.colour(muted-grey);
  transition-property: all;
  transition-duration: 250ms;
}

p {
  margin: 20px 0;
}

/* Miscellaneous general stylings */

.accent {
  color: c.colour(pale-green);
  font-weight: 500;
}

.first {
  color: c.colour(mustard-yellow);
}

.second {
  color: c.colour(deep-orange);
}
