@use 'colours' as c;

.topic {
  color: c.colour(deep-orange);
}

.topicItem {
  list-style: none;
  text-transform: uppercase;
  a {
    color: c.colour(tinted-white);
  }
}

.commitSymbol {
  font-size: 24px;
}

@media screen and (max-width: 640px) {
}
